body {
  margin: 5% 15%;
}

.card {
  display: flex;
}

.card h1 {
  font-size: 4rem;
}

.card p {
  font-size: 1.6rem;
  margin: 0 0 100px;
}

.card .first-section {
  border-radius: 8px 0 0 8px;
}

.card .third-section {
  border-radius: 0 8px 8px 0;
}
