:root {
  /* Colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* Paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* Background, headings, buttons */

  /* Typography */
  --primary-font: "Lexend Deca", sans-serif;
  --secondary-font: "Big Shoulders Display", cursive;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 3.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: var(--font-size-medium);
  margin: 16% 4%;
}
